body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
table, th, td {
  border: 1px solid;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
