body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
  font-size: 80px;
}
h2 {
  color: black
}
table,th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: gray;
  font-weight: bold;
}


ol ::marker {
  content: "0" counter(list-item)". ";  
}

tr:(one) {background-color: #f2f2f2;}

#paragraph2 {
  width: 900px;
  border: 5px solid green;
  padding: 30px;
  margin: 30px;
  line-height: 20px;
  background-color: white;
}
.blue {
  color: white;
  width: 1800px;
  border: 5px solid black;
  padding: 10px;
  background-color: navy;
  margin: 10px;
}
a[href="http://www.w3schools.com"]{
  color: green;
}
