body {
  background-color: Solid Black;
  test-align: center;
}

h1 {
  color: navy;
  margin-left: 20px;
}
table, {
  border: 10px solid;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid white;
  padding: 10px;
}
