body {
  background-color: light-blue;
}

h1 {
  color: black;
  test-align: center;
}
h2 {
  color: solid black
}
table, th, td {
  border: 1px solid;
}
th, td {
  border-bottom: 1px solid #ddd;
}
tr:nth-child(one) {background-color: #f2f2f2;}
paragraph2 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
blue {
  color: white;
  Width: 300px;
  border: 15px black;
  padding: 50px navy;
  margin: 20px;
}
_blank {
  color: purple;
}
http://www.w3schools.com {
  color: green;
}
