body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}
h2 {
  color: black
}
table, th, td {
  border: 1px solid;
}
th, td {
  border-bottom: 1px solid #ddd;
}

ol ::marker {
  content: "0" counter(list-item)". ";  
}

tr:(one) {background-color: #f2f2f2;}

#paragraph2 {
  width: 900px;
  border: 5px solid green;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
.blue {
  color: white;
  width: 1500px;
  border: 5px solid black;
  padding: 10px;
  background-color: navy;
  margin: 10px;
}
a[href="http://www.w3schools.com"]{
  color: purple;
}
