body{
  background-color: black;
}
article p:first-of-tpye::first-letter{
  font-family: time, serif;
  font-size: 40px;
}
a[href*="google.com"]::after {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-image: url("urlarrow.jfif")
  background-size: contain;
  background-repeat: no-repeat;
}
article{
  color: white;
  color: 2s ease,
  transform: 2s ease;
}
article:hover{
  color: grey;
  transform: scale(1.5);
}
nav button{
  background-color: red;
  padding: 10px 15px;
  cursor: pointer;
  transition:background-color 0.5s ease;
}
nav button:hover {
  background-color: light blue;
}
