body{
  background-color: \green;
}
article p:first-of-tpye::first-letter{
  font-family: time, serif;
  font-size: 40px;
}
a[href*="google.com"]::after {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-image: url("urlarrow.jfif")
  background-size: contain;
  background-repeat: no-repeat;
}
article{
  background-color: white;
  color: black;
  color: 2s ease,
  transform: 2s ease;
}
article:hover{
  color: grey;
  transform: scale(1.5);
}
nav button{
  background-color: red;
  padding: 10px 15px;
  cursor: pointer;
  transition:background-color 0.5s ease;
}
nav button:hover {
  background-color: light blue;
}
#jumpMenu{
 margin: 10px 0; 
}
#recentArticles:hover + #jumpmenu,
#jumpMenu:hover{
  display:block;
}
#jumpMenu l1 a {
  display: block;
  padding: 5px 10px;
  color: yellow;
  transition:
    background-color 0.5s ease,
    color o.3s ease;
}
#jumpMenu li a:hover{
  background color: red;
  color:black;
}
