:root {
  --jump-width: 15%;
  --header-height: 70px;
}
*{
  box-sizing: border-box
}
body{
  margin; 0;
  font-family: Arial;
}

#jumpmenu{
  position:fixed;
  left: 0;
  top: 0;
  width: var(--jump-width);
  height: 100vh;
  color: red;
  background-color: white;
  padding: 20px;
}
#jumpmenu a {
  color: white;
  text-decoration:none;
}
#jumpmenu a:hover{
  text-decoration:underline;
}
header{
  poision: fixed;
  top:0;
  left: var(--jump-width);
  width: calc(100% - var(--jump-width));
  height: var(--header-height);
  background-color: blue;
  
  display: flex;
  justify-content: center;
  alight-items: center;
  gap: 40px;

  z-index 10;
  border-bottom: 1px solid green;
}
main{
  margin-left: var(--jump-width);
  padding-top: 40px;
}
