:root {
  --jump-width: 15%;
  --header-height: 70px;
}
body{
  margin; 0;
  font-family: Arial;
}
jumpmenu{
  position:fixed;
  left: 0;
  top: 0;
  width: var(--jump-width);
  color: red;
  background-color: white;
  padding: 20px;
}
