body{
  margin: 5px;
  font-family: Arial;
  background-color: black;
  color: white;
  border: 1px solid red;
}
header {
  text-align: center;
  background-color: black;
  color: lightblue;
  border-bottom: 1px solid white;
}
a{
  color: white;
}
 a[href="image_2026-01-27_233418579.png"], a[href="image_2026-01-27_233942331.png"]{
  color: green;
}
a:hover{
  text-decoration: underline wavy yellow;
}
.container {
  display:flex;
  flex-direction: column;
  padding: 15px;
}
aside, main{
  margin-bottom:20px;
}

@media (min-width: 900px){
  .container{
    flex-direction: row;
  }
  aside{
    width:30%;
    padding: 20px;
    background-color:white;
    color:black;
  }

  main{
    width: 70%;
    padding:20px;
  }
}
  
