body{
  margin: 5px;
  font-family: Arial;
  background-color: black;
  color: white;
  border: 1px red;
  border-color: red;
}
header {
  text-align: center;
  color: blue;
  border-bottom: 1px solid white;
}
a{
  color: white
}
a:hover{
  text-decoration-style: wavy;
  text-decoration-thickness: auto;
  text-decoration-color: yellow;
}
@media (max-width: 600px){
  body{
    padding: 10px;
  }
  header{
    font-size: 1.5px;
  } 
}
@media (min-width: 100px){
  body{
    margin: auto;
  }
  section{
    padding: 20px;
  }
}
