body{
  margin: 5px;
  font-family: Arial;
  background-color: black;
  color: white;
}
header {
  text-align: center;
  color: blue;
  border-bottom: 1px solid white;
}
a{
  color: white
}
a:hover{
  text-decoration-style: wavy;
  text-decoration-thickness: auto;
  text-decoration-color: yellow;
}
